:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fffcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: block;
  place-items: center;
  margin: 20px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.table-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.table-header .export-button {
  margin: 10px;
  background-color: #747bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
}


.table-header .ok-button {
  margin-left: 10px;
  background-color: #3ec731;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.table-header .cancel-button {
  margin: 10px;
  background-color: #4b0d0d;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.table-header .export-success, .progress-indicator {
  padding: 10px 20px;
  margin: 10px;
}

.table {
  width: 100%;
  overflow-y: scroll;
}


th, td {
  text-align: left;
  padding: 15px;
  border: 1px solid #ccc;
}


.pagination {
  margin-top: 40px;
}


.pagination .page-number {
  margin: 5px;
  padding: 10px;
}

.pagination .page-number:hover {
  cursor: pointer;
  background-color: #747bff;
}

.pagination .active {
  background-color: #747bff;
}


.table-header .export-container {
  position: relative;
  display: flex;
}

.export-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #343764;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.export-options li {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.export-options li:hover {
  background-color: #747bff;
}


.select-column-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.select-column-container label {
  margin-right: 15px;
  font-size: 16px;
}


/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .table-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .toggle-columns{
    padding-left: 0;
  }
  .select-column-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: justify;
  }
  .select-column-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }

}